<div class="panel panel-default">
  <div class="panel-body">
<%= debug @ProductsCarts %>
    <% @ProductsCarts.each do |productCart| %>
        <%= productCart.price %>
        <%= productCart.price %>
    <% end %>
  </div>
</div>
